
<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <h1>Login</h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
          </div>
          <div class="field">
            <%= f.password_field :password, autocomplete: "current-password",  class:"form-control", placeholder:"Senha"%>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="actions">
            <%= f.submit "Entrar", class:"btn btn-default submit", style:"float:none; margin-left:0px; width:50%" %>
            <%= link_to 'Esqueceu a senha?', new_user_password_path, class:"reset_pass" %>
          </div>
          <div class="clearfix"></div>
          <div class="separator"></div>
        <% end %>
        <%= render "users/shared/links" %>
      </section>
    </div>
  </div>
</div>
