<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= action_message %></h1>
  </div>
</div>

<div class="row">
  <% if @question.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden=true>x</button>
      <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= "#{action_message} Assunto/Área" %>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <%= form_with(model: [ :admins_backoffice, @question ], local: true) do |form| %>
              <div class="form-group">
                <%= form.label :description %>
                <%= form.text_area :description, class:"form-control", rows:5%>
              </div>
              <div class="form-group">
                <%= form.label :subject %>
                <%= form.collection_select(:subject_id,@subjects,:id,:description,{},{class:"form-controll"})%>
              </div>
              <div id="answers">
                <%= form.fields_for :answers do |answer| %>
                  <%= render partial: "answer_fields", locals: {f: answer} %>
                <% end %>
                <%= link_to_add_association('[Adicionar Resposta]',form, :answers) %>
              </div>
              <button type="submit" class="btn btn-primary"><%= t('button.save') %></button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>