<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Seja bem-vindo!</h1>
  </div>
</div>

<p>Total de usuários do sistema: <span><%= @total_users %></span>.</p>
<p>Total de questões do sistema: <span><%= @total_questions %></span>.</p>

<p> <%= link_to 'Fazer logoff[Administrador]', destroy_admin_session_path, method: :delete %> </p>