var element = document.getElementById('submit_<%= @answer.question_id%>');
element.classList.remove('btn-default');
element.classList.remove('btn-success');
element.classList.remove('btn-danger');
if (<%= @answer.correct %>) {
  element.classList.add('btn-success');
  $.bootstrapGrowl("Parabéns, você acertou! \o/", {
    ele: 'body', // which element to append to
    type: 'success', // (null, 'info', 'danger', 'success')
    offset: {from: 'top', amount: 20}, // 'top', or 'bottom'
    align: 'right', // ('left', 'right', or 'center')
    allow_dismiss: true, // If true then will display a cross to close the popup.
    stackup_spacing: 10 // spacing between consecutively stacked growls.
  });
} else {
  element.classList.add('btn-danger');
  $.bootstrapGrowl("Infelismente você errou! :(", {
    ele: 'body', // which element to append to
    type: 'danger', // (null, 'info', 'danger', 'success')
    offset: {from: 'top', amount: 20}, // 'top', or 'bottom'
    align: 'right', // ('left', 'right', or 'center')
    allow_dismiss: true, // If true then will display a cross to close the popup.
    stackup_spacing: 10 // spacing between consecutively stacked growls.
  });
}
