
<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="" style=";margin-right: 25%;"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Login Administrativo</h1>
                  </div>
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="field">
                      <%# f.label :email %>
                      <%= f.email_field :email, autofocus: true, class:"form-control form-control-user", id:"exampleInputEmail", placeholder:"Enter Email Address..."%>
                    </div>

                    <div class="field">
                      <%# f.label :password %><br />
                      <%= f.password_field :password,class:"form-control form-control-user", id:"exampleInputPassword", placeholder:"Password" %>
                    </div>

                    <% if devise_mapping.rememberable? %>
                      <div class="field">
                        <%= f.check_box :remember_me %>Lembrar-me
                      </div>
                    <% end %>

                    <div class="actions">
                      <%= f.submit "Log in" , class:"btn btn-lg btn-success btn-block"%>
                    </div>
                  <% end %>
                  <hr>
                  <div  class="text-center">
                     <%= render "admins/shared/links" %>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





