<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h3><%= msg_jumbotron %></h3>      
</div>
<% @questions.each do |question| %>
  <%= form_with url: site_answer_path do |form| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-tittle">
          <span class="label label-info" style="margin-right:10px;">
            <%= link_to "#{question.subject.description} (#{question.subject.questions_count})", site_search_subject_path(question.subject_id,question.subject.description), style:"color:white;" %>
            <%# link_to question.subject.description, site_search_subject_path(question.subject_id,question.subject.description), style:"color:white;" %>
          </span>
          <%= question.description %>
        </h3>
      </div>
      <div class="panel-body">
        <ul>
          <% question.answers.each do |answer| %>
            <li style="list-style: none;">
              <div class="radio">
                <label>
                  <%= radio_button_tag 'answer_id', answer.id %>
                  <%= answer.description %>
                </label>
              </div>
            </li>
          <% end %>
          <li style="list-style: none;">
            <%= form.submit "Responder", class:"btn btn-default", id:"submit_#{question.id}" %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <div>
    <%= paginate @questions %>
  </div>  
<% else %>
  <div class="alert alert-warning" role="alert">
    Efetue login para poder continuar respondendo as questões ...
  </div>
<% end %>
