<div>
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <h1>Mude sua senha</h1>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field">
            <%= f.label :password, "New password" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control"  %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, "Confirm new password" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control"  %>
          </div>

          <div class="actions">
            <%= f.submit "Change my password", class:"btn btn-default submit", style:"float:none; margin-left:0px;" %>
          </div>
        <% end %>
        <%= render "users/shared/links" %>
      </section>
    </div>
  </div>
</div>
