<div>
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <h1>Esqueceu a senha</h1>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
          </div>
          <div class="actions">
            <%= f.submit "Enviar-me as instruções para redefinir de senha", class:"btn btn-default submit", style:"float:none; margin-left:0px;" %>
          </div>
          <div class="clearfix"></div>
          <div class="separator"></div>
        <% end %>
        <%= render "users/shared/links" %>
      </section>
    </div>
  </div>
</div>