<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t('messages.listing',model:@subjects.model_name.human(count: 2)) %></h1>
  </div>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><%= translate_attribute @subjects, :description %></th>
      <th>
        <%= link_to new_admins_backoffice_subject_path, class:"btn btn-success btn-circle" do%>
          <i class="fa fa-plus"></i>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.id %></td>
        <td><%= subject.description %></td>
        <td style="width: 110px">
          <%= link_to  edit_admins_backoffice_subject_path(subject), class:"btn btn-primary btn-circle" do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to  admins_backoffice_subject_path(subject), method: :delete, class:"btn btn-danger btn-circle", data: {confirm: t('messages.confirm_with',item:subject.description.truncate(30))} do %>
            <i class="fa fa-minus"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div >
  <%= paginate @subjects %>
</div>