<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t('messages.listing',model:@admins.model_name.human(count: 2)) %></h1>
  </div>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><%= translate_attribute @admins, :email %></th>
      <th>
        <%= link_to new_admins_backoffice_admin_path, class:"btn btn-success btn-circle" do%>
          <i class="fa fa-plus"></i>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.id %></td>
        <td><%= admin.email %></td>
        <td style="width: 110px">
          <%= link_to  edit_admins_backoffice_admin_path(admin), class:"btn btn-primary btn-circle" do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to  admins_backoffice_admin_path(admin), method: :delete, class:"btn btn-danger btn-circle", data: {confirm: t('messages.confirm_with',item:admin.email)} do %>
            <i class="fa fa-minus"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div >
  <%= paginate @admins, class:"text-xs-center" %>
</div>