<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= action_message %></h1>
  </div>
</div>

<div class="row">
  <% if @admin.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden=true>x</button>
      <ul>
        <% @admin.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= "#{action_message} administrador" %>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <%= form_with(model: [ :admins_backoffice, @admin ], local: true) do |form| %>
              <div class="form-group">
                <%= form.label :email %>
                <%= form.text_field :email, class:"form-control", placeholder:"Email de administrador"%>
              </div>
              <div class="form-group">
                <%= form.label :password %>
                <%= form.password_field :password, class:"form-control", placeholder:"Senha"%>
              </div>
              <div class="form-group">
                <%= form.label :password_confirmation %>
                <%= form.password_field :password_confirmation, class:"form-control", placeholder:"Confirmação de senha"%>
              </div>
              <button type="submit" class="btn btn-primary">Salvar</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>