$('#avatarModal').modal('hide');

document.getElementById('imgAvatarLg').src = "<%= url_for(@user.user_profile.avatar)%>";
document.getElementById('imgAvatarMd').src = "<%= url_for(@user.user_profile.avatar)%>";
document.getElementById('imgAvatarSm').src = "<%= url_for(@user.user_profile.avatar)%>";


$.bootstrapGrowl('Avatar atualizado com sucesso!',{
  ele: 'body', // which element to append to
  type: 'success', // (null, 'info', 'error', 'success')
  offset: {from: 'top', amount: 20}, // 'top', or 'bottom'
  align: 'right', // ('left', 'right', or 'center')
  width: 250, // (integer, or 'auto')
  delay: 4000,
  allow_dismiss: true,
  stackup_spacing: 10
});