<!DOCTYPE html>
<html>
  <head>
    
    
    
  </head>

  <body>
    
  </body>
</html>

<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'admin_devise' %>

  </head>

  <body class="bg-gradient-primary">
    <%= yield %>
    
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'admin_devise' %>
    <% if flash %>
      <% flash.each do |key,value| %>
        <%= javascript_tag do %>
          $.bootstrapGrowl('<%= value %>',{
            type: 'danger',
            align: 'right',
            allow_dismiss:true,
            stackup_spacing: 10
          });
        <% end %>
      <% end %>
    <% end %>
  
  </body>

</html>
